<%= link_to "Go Back", users_path %>
<%= render 'shared/user', user: @user %>
<div class="user-bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
<ul class=posts-list>
  <% @user.recent_posts.each do |post| %>
      <%= render 'shared/post', post: post %>
  <% end %>
</ul>
<button><%= link_to 'See all posts', user_posts_path(@user) %></button>
