<%= render 'shared/user', user: @user %>
<%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %>
<div class="user-bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>
<ul class=posts-list>
  <% @user.recent_posts.each do |post| %>
      <%= render 'shared/post', post: post %>
  <% end %>
</ul>
<%= link_to 'See all posts', user_posts_path(@user), class: 'btn' %>
