<section class=full-post>
  <h3><%= @post.title %> by <%= @post.author.name %></h3>
  <p class="post-counters"> Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></p>
  <p>
    <%= @post.text %>
  </p>
</section>
<ul class="comments-list">
  <% @post.comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</ul>
