<section class=full-post>
  <h3><%= @post.title %> by <%= @post.author.name %></h3>
  <p class="post-counters"> Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></p>
  <p>
    <%= @post.text %>
  </p>
  <% if can? :destroy, @post %>
    <%= link_to "Delete", user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</section>
<ul class="comments-list">
  <% @post.comments.includes(:author).reverse.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
</ul>
