<!DOCTYPE HTML>
<html>
  <head>
    <title>Show Post</title>
  </head>
  <body
    <h3><%= @post.title %> by <%= @post.author %></h3>
    <p> Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></p>
    <p>
      <%= @post.text %>
    </p>
    <div>
      <h4>Comments</h4>
      <ul>
        <% @post.comments.each do |comment| %>
          <li>
            <p>Author: <%= comment.author %></p>
            <p><%= comment.text %></p>
          </li>
        <% end %>
      </ul>
  </body>
</html>
